$color1: #2c3e50;
$color2: #d35400;
$color3: #e67e22;
$color4: #f1c40f;
$color5: #f39c12;
$color6: #e74c3c;
$color7: #c0392b; /* Pomegranate */
$color8: #d35400; /* Pumpkin */

$theme1: #D46129; 
$theme2: #D9C8A2;
$theme3: #869C80;
$theme4: #496158;
$theme5: #7D7D44;

$flat1: #1abc9c; /* turquoise */
$flat2: #34495e; /* wet asphalt */
$flat3: #ecf0f1; /* clouds */


body {
    overflow-x: hidden;
}

body, html {
    height: 100%;
    width: auto;
}

.section {
    width: 100%;
    color: #fff;
    padding: 100px 0 160px 0;
    min-height: 100%;
}

#section1 {
    background: url('../images/joshua3.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h1 {
        color: white;
        font-size: 100px;
    }
    h2 {
        width: 75%;
    }
    .main {
        margin-top: 75px;
    }
    .section1-btn {
        position: absolute;
        top: 85%;
        left: 45%;
        font-size: 60px;
        color: white;
        opacity: 0.2;
        transition: opacity 1s;
        &:hover {
           opacity: 1;
        }
    }
}

/************* SECTION2 *************************/

#section2 {
    background-color: $theme5;
    a {
        text-decoration: none;
        }

    .projects {
        min-width: 1169px;
        margin-top: 80px;
        li {
            margin: 0 5px;
        }
    }

    .viewport {
        /*
        position: relative; ??
        */
        height: 299px;
        margin: 0 9px 9px 0;
        float: left;
        overflow: hidden;
        width: 350px;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
    }

    /* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
       class to the last thumbnail in each row to get rid of the margin-right. */
    .no-margin {
        margin-right: 0;
    }

    /* --- Link configuration that contains the image and label ----------------------------- */
    .viewport a {
        display: block;
        position: relative;
    }

    .viewport a img {
        height: 332px;
        left: -20px;
        position: relative;
        top: -20px;
        width: 400px;
    }

    /* --- Label configuration -------------------------------------------------------------- */
    .viewport a span {
        display: none;
        font-size: 3.0em;
        font-weight: bold;
        height: 100%;
        padding-top: 85px;
        position: absolute;
        left: 0;
        text-align: center;
        text-decoration: none;
        width: 100%;
        z-index: 100;
    }
    .viewport a span em {
        display: block;
        font-size: 0.45em;
        font-weight: normal;
    }

/* --- Dark hover background ------------------------------------------------------------ */
    .dark-background {
        background-color: rgba(15, 15, 15, 0.8);
        color: #fff;
        text-shadow: #000 0px 0px 20px;
    }
    .dark-background em {
        color: #ccc;
    }
}

/*-------------- SECTION3 ---------------*/

#section3 {
    font-family: 'Ubuntu', sans-serif;
    background-color: $theme4;
    min-width: 500px;
    overflow-x: hidden;
    p {
        font-size: 30px;
    }
    span {
        font-size: 60px;
    }
    .brace {
        font-size: 60px;
    }
    .inner-brace {
        margin-left: 40px;
    }
    .inner-attrs {
        margin-left: 180px;
    }
}

/*-------------- SECTION4 ---------------*/

#section4 {
    font-family: 'Droid Serif', serif;
    font-size: 2.4em;
    font-weight: 300;
    line-height: 1.8em;
    color: black;
    background-color: white;
    img {
        width: 15%;
        height: 15%;
    }
    .bio {
        margin-top: 75px;
    }
    .glyphicon-heart {
        color: red;
    }
}

#section5 {
    color: black;
}

#section6 {
    background-color: $flat3;
    color: $flat1;
    text-align: center;
    p {
        font-size: 1.72em;
    }
    .hello {
        font-size: 75px;
    }
}



/*** MISC ***/

