$color1: #2c3e50;
$color2: #d35400;
$color3: #e67e22;
$color4: #f1c40f;
$color5: #f39c12;
$color6: #e74c3c;
$color7: #c0392b; /* Pomegranate */
$color8: #d35400; /* Pumpkin */

body, html {
    height: 100%;
}

.section {
    color: #fff;
    padding: 100px 0 160px 0;
    min-height: 100%;
}

#section1 {
    background: url('../images/joshua3.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .main {
        margin-top: 75px;
    }
    h1 {
        color: white;
        font-size: 100px;
    }
    h2 {
        width: 75%;
    }
    .section1-btn {
        font-size: 50px;
    }
}

#section2 {
    background-color: $color5;

    a {
            text-decoration: none;
        }

.projects {
    margin-top: 80px;
    li {
        margin: 0 5px;
    }
}

.viewport {
    /*
    position: relative; ??
    */
    height: 299px;
    margin: 0 9px 9px 0;
    float: left;
    overflow: hidden;
    width: 350px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}

/* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
   class to the last thumbnail in each row to get rid of the margin-right. */
.no-margin {
    margin-right: 0;
}

/* --- Link configuration that contains the image and label ----------------------------- */
.viewport a {
    display: block;
    position: relative;
}

.viewport a img {
    height: 332px;
    left: -20px;
    position: relative;
    top: -20px;
    width: 400px;
}

/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
    display: none;
    font-size: 3.0em;
    font-weight: bold;
    height: 100%;
    padding-top: 85px;
    position: absolute;
    left: 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}
.viewport a span em {
    display: block;
    font-size: 0.45em;
    font-weight: normal;
    }

/* --- Dark hover background ------------------------------------------------------------ */
    .dark-background {
        background-color: rgba(15, 15, 15, 0.8);
        color: #fff;
        text-shadow: #000 0px 0px 20px;
    }
    .dark-background em {
        color: #ccc;
    }
}

#section3 {
    background-color: $color8;

}

#section4 {
    background-color: $color7;

}


/*** MISC ***/

